.*.swp
Makefile
Makefile.in
aclocal.m4
autom4te.cache
config.h
config.h.in
config.log
config.status
configure
intltool-extract
intltool-merge
intltool-update
libtool
mkinstalldirs
stamp-h1
*.tar.gz
missing
ltmain.sh
intltool-update.in
intltool-merge.in
intltool-extract.in
install-sh
depcomp
config.sub
config.guess
